.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;

    > span {
        font-weight: bold;
        &.plus {
            color: green;
        }
    
        &.minus {
            color: red;
        }
    }

    &:nth-child(2n + 1){
        background-color: #edf1f7;
    }
}